body {
  font-family: Arial, sans-serif;
  padding: 2rem;
  background-color: #f9f9f9;
}

h1, h2, h3 {
  color: #333;
}

input {
  margin: 0.3rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 0.5rem 0;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 40px;
  height: auto;
}

button {
  padding: 0.3rem 0.5rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}